<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/47168025-ae7e-4096-b038-eb90c05d8595/resourcegroups/Newrg/providers/Microsoft.ContainerRegistry/registries/WebApplication4920210308111758</ContainerResourceId>
    <ContainerResourceName>WebApplication4920210308111758</ContainerResourceName>
    <Subscription>Azure Pass - Sponsorship</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>webapplication4920210308111758.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/47168025-ae7e-4096-b038-eb90c05d8595/resourcegroups/Newrg/providers/Microsoft.Web/sites/ibmcontainer23</ResourceId>
    <ResourceGroup>Newrg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ibmcontainer23.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://ibmcontainer23.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>97360ee0-b66b-4d0a-bfd9-e3b4a1e90992</ProjectGuid>
  </PropertyGroup>
</Project>