@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.ProductId</h3>
<h3>@ViewBag.ProductPrice</h3>
<h3>@ViewBag.manufacturer</h3>


<p>Use this area to provide additional information.</p>
