
@{
    ViewBag.Title = "StudentList";
}

<h2>List of Students</h2>
<table style="width:100%" border="1"  bordercolor = "red" >
    <tr>
        <th style="text-align:center">Firstname</th >
        <th style="text-align:center">Lastname</th>
        <th style="text-align:center">Roll Number</th>
        <th style="text-align:center">Phone Number</th>
    </tr>
    <tr>
        <td style="text-align:center">Tony</td>
        <td style="text-align:center">Stark</td>
        <td style="text-align:center">5</td>
        <td style="text-align:center">12345</td>
    </tr>
    <tr>
        <td style="text-align:center">Steve</td>
        <td style="text-align:center">Rogers</td>
        <td style="text-align:center">6</td>
        <td style="text-align:center">67891</td>
    </tr>
    <tr>
        <td style="text-align:center">Peter</td>
        <td style="text-align:center">Parker</td>
        <td style="text-align:center">23</td>
        <td style="text-align:center">82334</td>
    </tr>
    <tr>
        <td style="text-align:center">Thor</td>
        <td style="text-align:center">Odinson</td>
        <td style="text-align:center">13</td>
        <td style="text-align:center">13432</td>
    </tr>
</table>

